@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');


/* --- BODY ----*/

body {
font-family: 'Source Sans Pro', sans-serif;
font-weight: 200;
}


.div {
    padding-top: 10px;
}

/* --- NAV BAR ----*/

.navbar-container {
    min-height: 100px;
}

#navbar-text {
 
   color: white; 
  
}

/* --- GOOGLE MAPS ----*/


#map {
    padding-top: 100px;
    min-height: 200px;
    overflow: visible;
}

.test
{
    padding-top: 50px;
}

#description {
    font-weight: lighter;
    font-size: larger;
    text-align: center;
    color: gray;
}

#didYouKnow {
    font-weight: lighter;
    font-size: larger;
    text-align: center;
    color: gray;
}

/* --- SELECTOR ----*/

.selector {
    padding-top: 10px;
}


/* --- SECTION 1 ----*/

.graph-title {
    padding-left: 20px;
}


/* --- SECTION 2 ----*/

/* --- SECTION 3 ----*/


/* --- FOOTER ----*/


#footer {
    height: 40px;
    background-color: #1a6ecc;
}

.footer-text {
    color: white;
}


