@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');


/* --- BODY ----*/

body {
font-family: 'Source Sans Pro', sans-serif;
font-weight: 200;
color: gray;
}


.div {
    padding-top: 10px;
}

/* --- NAV BAR ----*/

.navbar-container {
    min-height: 100px;
}

#navbar-text {
 
   color: white; 
  
}

#reset {
    font-weight: bolder;
  
}

/* --- Intro and description ----*/

.opening {
    font-weight: lighter;
    color: gray;
    text-align: center;

    
}
#intro {
    
       text-align: center;

}


#description {
   
    text-align: center;
}

#site-title {

}

/* --- Month Selector ----*/

#month-selector {
    padding-bottom: 20px;
}

/* --- GOOGLE MAPS ----*/


#map {
    padding-top: 100px;
    min-height: 200px;
    overflow: visible;
}

.test
{
    padding-top: 50px;
}


/* ---Year SELECTOR ----*/

#year-selector {
    float: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.center {
    text-align: none;
}

/* --- Month Selector ----*/

#month-selector {
    padding-bottom: 20px;
}


/* --- SECTION 1 gust----*/

.graph-title {
    padding-left: 20px; 
}

.gustinfo {
    padding-left: 20px;
}

.gustchart {
    padding-left: 100px;
}


/* --- SECTION 2 ----*/

#maxgt-scatter-plot {
  padding-right: 70px;
}

/* --- SECTION 3 ----*/

.bar {
    width: 28px;
} 

.air-temp {
    padding-bottom: 500px;
}


/* --- FOOTER ----*/

.footertest {
    padding-left: 0px;
    padding-right: 0px;
}


#footer {
    height: 30px;
    background-color: #1a6ecc;
}

.footer-text {
    color: white;
    text-align: right;
}


